body{
    background-color: gray;
    background-image: url(Img/Pag1/New\ fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
*{
    text-decoration: none;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


/*Header*/
header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32,66,75,0.5);
    height: 10%; 
    color: white;
    width: 100vw;
    align-items: center;
    z-index: 2; 
}
header Nav {
    padding-right: 5em;
}
#img_header{
    height: auto; 
    flex-grow: 1;
    margin: 0;
    padding: 0 0 0 5%;
}

Nav .Nav_bar{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.Nav_bar li{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-weight: 550;
}
Nav li:hover  {
    color: white;
    text-decoration: underline;
    background-color: rgb(240, 55, 9);
}
/*Fin Header*/

/*Página1*/
main{
    padding: 0;
    margin: 0;
    height: auto;

}
main #Pag1 {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
#Pag1 H1 {
    color:red;
    padding: 4% 20% 0% 20%;
    font-size: 90px;
    animation-duration: 3S;
    animation-name: slidein;
    font-weight: bold 900px;
    font-family: 'Poppins', sans-serif;
    z-index: 1; 
}
#Pag1::before{
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0; 
}
@keyframes slidein {
    from{
        padding-left: 100%;
    }
    to{
        padding-left: 20%;
    }
    
}

#Pag1 H2{
    color: rgb(0, 0, 0);
    background-color: #ff0f0f;
    border-radius: 30px;
    padding: 1em 1em 1em 1em;
    z-index: 1;
}
/*Fin Página1 */
/*Página2 */
#Pag2 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color:gray;
    padding: auto;
}
#Pag2 h5{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    align-content: flex-end;
    padding-bottom: 1em;
}

#Pag2 h1 span{
    color: black;
    font-size: 40px;
}

#Cards_servicios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    
}

#Cards_servicios #Card1 {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    background-color: black;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    height: auto;
    width: 20%;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
}

#Card1 img{
    height: 20vh;
    width: 100%;
    display: flex;
    padding: 2%;
    border-radius: 30px;
}

#Cards_servicios h2{
    color: white;
    display: flex;
    justify-content: center;
    padding: auto;
}

#Cards_servicios h4{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
#Cards_servicios #Card1:hover{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 30px;
    color: red;
    padding: 1%;
    width: 25%;
    height: 60vh;
    transform: scale(1.1);
}

#Cards_servicios #Card2 {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    background-color: black;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    height: auto;
    width: 20%;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
   
}
#Cards_servicios #Card2:hover{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 30px;
    color: red;
    padding: 1%;
    width: 25%;
    height: 60vh;
    transform: scale(1.1);
}
#Card2 img{
    height: 20vh;
    width: 100%;
    display: flex;
    padding: 2%;
    border-radius: 30px;
}

#Cards_servicios #Card3 {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    background-color: black;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    height: auto;
    width: 20%;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
   
}
#Cards_servicios #Card3:hover{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 30px;
    color: red;
    padding: 1%;
    width: 25%;
    height: 60vh;
    transform: scale(1.1);
}
#Card3 img{
    height: 20vh;
    width: 100%;
    display: flex;
    padding: 2%;
    border-radius: 30px;
}

/* Página 3 */
#Pag3 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: auto;
}
#Pag3 span{
    font-weight: 700;
}

#productos {
    display: flex;
}

#Pag3 h1 span{
    color: grey;
    font-size: 40px;
    font-weight: 700;
}
#producto{
    display: flex;
    gap: 1em;
    align-items: center;
}

#producto #M8 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 40%;
    height: 30vh;
    padding: 1em;
}
#M8 article {
    display: flex;
    height: auto;
    width: auto;
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding: 1em;
    
    
}
article img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#producto #Lexus {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 40%;
    height: 30vh;
    padding: 1em;
}
#Lexus article {
    display: flex;
    height: auto;
    width: auto;
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding: 1em;
    
}
article img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#Pag4 {
    padding: 0px 0px 0px 0px;
    background-color: gray;
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

#Pag4 span{
    font-weight: 700;
    color: black;
}

#Pag4 #form{
    display: flex;
    justify-content: center;
    padding: 2em;
    color: black;
    background-color: black;
    margin: 1% 15% 9% 15%;
    border-radius: 50px;
}

#Pag4 input{
    margin: 1em;
    background-color: white;
    color: black;
    width: 20vh;
    padding: 5px;
}

#Pag4 select{
    color: black;
}

#Pag4 textarea{
    color: black;
    padding: 10px;
    width: 60vh;
}
#Pag4 #Enviar{
    display: flex;
    justify-content: center;
}

#Pag5 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: auto;
}

#Pag5 #art_about{
    display: flex;
    flex-direction: column;
    align-items: center;
   ;
}

#art_about #Layer1 {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 0 20% 0 20%;

}
#Layer1 img{
    width: 50%;
    height: 50%;
    
}
#Layer1 #Historia{
    display: flex;
    flex-grow: 1;
}

#Layer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Layer2 #ventajas {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

#ventajas div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;   
    height: auto; 
    flex-direction: row-reverse;
    width: 100%;
}
#Footer_nav .Footer_ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1em;
    
}

.Footer_ul li{
    display: flex;
    padding: 2em;
    font-size: 18px;
    align-content: center;
    
}

#telf, #mail, #separacion {
    padding: 2em;
    
}
#Contacto_footer{
    padding: 1em;
    margin-right: 10px;
}

.Footer_ul li:hover  {
    color: white;
    text-decoration: underline;
    background-color: black;
    display: flex;
    justify-content: center;
}

